/* week3_part a exercises */
       
header {
    background-color: #555;
    color: white;
    padding: 10px;
    grid-area: header;
}
    nav {
    background-color: yellow;
   overflow: auto;
      
    }

    .navs {
       display: block;
       float: left;
       width: 380px; 
       padding: 1em; 
       text-align: center;
        }
     div{
            overflow: auto;
        }
   
     div main, aside{
            display: inline;
            float: left;
        }

    main  {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    color: rgb(0, 0, 0);
    width: 47%;  
    }

    aside {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    width: 47%;  
    }
    
    footer {
        padding-top: 2em;
        background-color: #555;
        color: white;
        grid-area: footer;
    }