
header {
    background-color: blue;
    color: white;
    padding: 1em;
    
    }
    nav {
    background-color:  darkgreen;;
   overflow: auto;
      
    }

    nav a {
       display: block;
       float: left;
       width: 120px; 
       padding: 1em; 
       text-align: center;
       color: white;
        }
     div{
            overflow: auto;
        }
   
     div main, aside{
            display: inline;
            float: left;
        }

    main  {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    color: rgb(0, 0, 0);
    width: 47%;  
    }

    aside {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    width: 47%;  
    }
    
    footer {
    background-color: darkgreen;
    padding: 1em;
    color: white;

    }
